* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}


/* NAVBAR*/

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 20px 0 0;
    height: 40px;
}

.nav-link {
    color: #000;
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-icon {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: #4683ea;
    padding: 5px 15px;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    cursor: default;
    font-size: 14px;
}


/* MAIN*/
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

main .main-header {
    margin: 10px 0;
    width: 50%;
    max-width: 300px;
    height: auto;
}

main .main-header img {
    width: 100%;
}

main .main-form {
    width: 80%;
    max-width: 800px;
}

main .main-form .form-input {
    background-color: azure;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    margin: 10px;
}

main .main-form .form-input:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

main .main-form .form-input img:first-child {
    height: 20px;
    margin-left: 10px;
}

main .main-form .form-input img:last-child {
    height: 30px;
    margin-right: 10px;
}

main .main-form .form-input input {
    width: 80%;
    margin: 0 20px;
    border: none;
}

main .main-form .form-buttons {
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
}

main .main-form .form-buttons a {
    padding: 10px 15px;
    border: none;
    background-color: lightgray;
    color: #000;
    text-decoration: none;

    background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

}

main .main-form .form-buttons a:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

main .main-footer {
    font-size: 14px;
}

main .main-footer a {
    text-decoration: none;
}

main .main-footer a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: #f2f2f2;
    margin-top: 20px;
    color: #0000008A;
    /*
    position: fixed;
    left: 0;
    bottom: 0;
*/
}

footer .pais {
    padding: 10px 0 10px 25px;
    border-top: 1px solid rgb(218, 220, 224);
    border-bottom: 1px solid rgb(218, 220, 224);
    font-size: 15px
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-links {
    text-decoration: none;
    color: #0000008A;
    padding: 10px 10px;
    font-size: 14px
}

footer .footer-links:hover {
    text-decoration: underline;
}

footer .container1,
footer .container2 {
    min-height: 30px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (min-width: 700px) {
    footer .container2 {
        max-width: 550px;
    }
}

@media screen and (min-width: 1000px) {

    footer .footer-container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    footer .container2 {
        max-width: 550px;
    }
}
